$light-theme-map: (
  "background-color-primary": $falling-petals,
  "background-color-secondary": $sassy-sage,  
  "text-color-primary": black,
  "text-color-secondary": $falling-petals,
  "button-primary-background": black,
  "button-secondary-background": $falling-petals,
  "button-primary-border": 1.5px solid $falling-petals,
  "button-secondary-border":  1.5px solid black,
  "button-border-radius": 0px,
  "button-box-shadow": 6px 6px 0px 0px #000000,
  "section-border": 1.5px solid black,
);

$dark-theme-map: (
  "background-color-primary": $dark-slate,
  "background-color-secondary": #586336,  
  "text-color-primary": $falling-petals,
  "text-color-secondary": $falling-petals,
  "button-primary-background": #586336,
  "button-secondary-background": $dark-slate,
  "button-primary-border": 1.5px solid $dark-slate,
  "button-secondary-border":  1.5px solid $falling-petals,
  "button-border-radius": 0px,
  "button-box-shadow": none,
  "section-border": 1.5px solid $falling-petals,
);

$themes: (
  "light": $light-theme-map,
  "dark": $dark-theme-map
);

@mixin themify() {
  @each $theme, $map in $themes {
    & .theme-#{$theme},
      .theme-#{$theme} & {
          $theme-map: () !global;

          @each $key, $submap in $map {
              $value: map-get(map-get($themes, $theme), '#{$key}');
              $theme-map: map-merge($theme-map, ($key: $value)) !global;
          }

          @content;
          $theme-map: null !global;
      }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}