$light-theme-map: (
  "background-color-primary": $falling-petals,
  "background-color-secondary": $sassy-sage,  
  "text-color-primary": black,
  "text-color-secondary": $falling-petals,
  "button-primary-background": black,
  "button-secondary-background": $falling-petals,
  "button-primary-border": 1.5px solid $falling-petals,
  "button-secondary-border":  1.5px solid black,
  "button-border-radius": 0px,
  "button-box-shadow": 6px 6px 0px 0px #000000,
  "section-border": 1.5px solid black,
  "logo-filter": unset,
  "accent-text-animation": fadeIn 2500ms 100ms ease both
);

$dark-theme-map: (
  "background-color-primary": $dark-slate,
  "background-color-secondary": #586336,  
  "text-color-primary": $falling-petals,
  "text-color-secondary": $falling-petals,
  "button-primary-background": #586336,
  "button-secondary-background": $dark-slate,
  "button-primary-border": 1.5px solid $dark-slate,
  "button-secondary-border":  1.5px solid $falling-petals,
  "button-border-radius": 0px,
  "button-box-shadow": none,
  "section-border": 1.5px solid $falling-petals,
  "logo-filter": invert(100%),
  "accent-text-animation": fadeIn 2500ms 100ms ease both
);

$glow-theme-map: (
  "background-color-primary": black,
  "background-color-secondary": $electric-blue-dark,  
  "text-color-primary": $falling-petals,
  "text-color-secondary": $falling-petals,
  "button-primary-background": #0009E6,
  "button-secondary-background": black,
  "button-primary-border": unset,
  "button-secondary-border":  1px solid $electric-blue-dark,
  "button-border-radius": 10px,
  "button-box-shadow": 6px 6px 10px 0px rgba(136, 144, 214, 0.25),
  "section-border": unset,
  "logo-filter": invert(100%),
  "accent-text-animation": glow 1s ease-in-out infinite alternate,
);

$themes: (
  "light": $light-theme-map,
  "dark": $dark-theme-map,
  "glow": $glow-theme-map,
);

@mixin themify() {
  @each $theme, $map in $themes {
    & .theme-#{$theme},
      .theme-#{$theme} & {
          $theme-map: () !global;

          @each $key, $submap in $map {
              $value: map-get(map-get($themes, $theme), '#{$key}');
              $theme-map: map-merge($theme-map, ($key: $value)) !global;
          }

          @content;
          $theme-map: null !global;
      }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}